.DS_Store
OPD/example_sentences/by_speaker/es_example_sentences_analyzed.txt
OPD/example_sentences/by_speaker/es_example_sentences_analyzed_fails.txt
OPD/example_sentences/by_speaker/es_example_sentences_analyzed_fails_unique.txt
OPD/example_sentences/by_speaker/es_example_sentences_tok.txt
OPD/example_sentences/by_speaker/gh_example_sentences_analyzed.txt
OPD/example_sentences/by_speaker/gh_example_sentences_analyzed_fails.txt
OPD/example_sentences/by_speaker/gh_example_sentences_analyzed_fails_unique.txt
OPD/example_sentences/by_speaker/gh_example_sentences_tok.txt
OPD/example_sentences/by_speaker/gj_example_sentences_analyzed.txt
OPD/example_sentences/by_speaker/gj_example_sentences_analyzed_fails.txt
OPD/example_sentences/by_speaker/gj_example_sentences_analyzed_fails_unique.txt
OPD/example_sentences/by_speaker/gj_example_sentences_tok.txt
OPD/example_sentences/by_speaker/ls_example_sentences_analyzed.txt
OPD/example_sentences/by_speaker/ls_example_sentences_analyzed_fails.txt
OPD/example_sentences/by_speaker/ls_example_sentences_analyzed_fails_unique.txt
OPD/example_sentences/by_speaker/ls_example_sentences_tok.txt
OPD/example_sentences/by_speaker/lsa_example_sentences_analyzed.txt
OPD/example_sentences/by_speaker/lsa_example_sentences_analyzed_fails.txt
OPD/example_sentences/by_speaker/lsa_example_sentences_analyzed_fails_unique.txt
OPD/example_sentences/by_speaker/lsa_example_sentences_tok.txt
OPD/example_sentences/by_speaker/lw_example_sentences_analyzed.txt
OPD/example_sentences/by_speaker/lw_example_sentences_analyzed_fails.txt
OPD/example_sentences/by_speaker/lw_example_sentences_analyzed_fails_unique.txt
OPD/example_sentences/by_speaker/lw_example_sentences_tok.txt
OPD/example_sentences/by_speaker/nj_example_sentences_analyzed.txt
OPD/example_sentences/by_speaker/nj_example_sentences_analyzed_fails.txt
OPD/example_sentences/by_speaker/nj_example_sentences_analyzed_fails_unique.txt
OPD/example_sentences/by_speaker/nj_example_sentences_tok.txt
OPD/example_sentences/by_speaker/rg_example_sentences_analyzed.txt
OPD/example_sentences/by_speaker/rg_example_sentences_analyzed_fails.txt
OPD/example_sentences/by_speaker/rg_example_sentences_analyzed_fails_unique.txt
OPD/example_sentences/by_speaker/rg_example_sentences_tok.txt
OPD/example_sentences/by_speaker/unknown_speaker_example_sentences_analyzed.txt
OPD/example_sentences/by_speaker/unknown_speaker_example_sentences_analyzed_fails.txt
OPD/example_sentences/by_speaker/unknown_speaker_example_sentences_analyzed_fails_unique.txt
OPD/example_sentences/by_speaker/unknown_speaker_example_sentences_tok.txt
OPD/example_sentences/example_sentences_analyzed.txt
OPD/example_sentences/example_sentences_analyzed_fails.txt
OPD/example_sentences/example_sentences_analyzed_fails_unique.txt
OPD/example_sentences/example_sentences_tok.txt
